@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">こんにちは！</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    // 文中にC#の処理を書く場合は@{}で囲みます。
    var count = 4;
}

@* HTMLの要素内に文を埋め込む場合は@を付けます。 *@
@* 文字に接している場合は文を括弧で囲み、@()とします。 *@
<div>現時点でのカウントは@(count)です。</div>

@* 条件分岐 *@
@if (count > 3)
{
    <div>カウントは3より大きいです。</div>
}
else
{
    <div>カウントは3以下です。</div>
}

@* 繰り返し *@
<ol>
    @for (var i = 0; i < count; i++)
    {
        <li>@(i)掛ける@(i)は@(i * i)です。</li>
    }
</ol>
